extends layout

block content
  h1= title

  form( method="POST" action="/new")
    input( type="text" placeholder="Text" name="messageText" )
    input( type="text" placeholder="Username" name="messageUser")
    button( type="submit" )="Submit"